@import '@/shared/styles/colors';
@import '@/shared/styles/mixins';
@import '@/shared/styles/mediaMixins';

.section {
  margin-top: 100px;
}

.container {
  @include container;
  padding: 0 30px;

  @include on992 {
    @include container(20px);

    padding: 0 10px;
  }
}
