@import '@/shared/styles/colors';
@import '@/shared/styles/mixins';

.section {
  padding: 100px 29px 0;
}

.title {
  margin-bottom: 50px;

  color: $rgbZodiac;
  font-size: 28px;
  line-height: 36/28;
  font-weight: 800;
}
.searchWrap {
  position: relative;
  display: flex;
  align-items: center;

  svg {
    position: absolute;
    top: 11px;
    right: 12px;

    width: 24px;
    height: 24px;

    fill: $secondaryOrange;
  }
}

.search {
  padding: 12px;
  margin-bottom: 19px;
  width: 100%;
  border: 1px solid $rgbGray;

  border-radius: 8px;
  font-size: 16px;
  line-height: 19/16;

  &::placeholder {
    color: $rgbGray;
  }
}

.checkbox {
  // visually hidden
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  pointer-events: none;
}

.checkboxWrap {
  display: flex;
  //   justify-content: space-between;
  align-items: center;

  width: 132px;
  height: 46px;
  border-radius: 10px;
  padding: 3px;

  background-color: $primaryYellow;
}

.hotCheckboxWrap {
  @extend .checkboxWrap;
  flex-direction: row-reverse;
  background-color: $secondaryTomato;

  .hotIcon {
    background-color: $primaryTomato;

    svg {
      fill: $rgbWhite;
    }
  }
}

.checkboxTitle {
  font-weight: 600;
  font-size: 13px;
  line-height: 16/13;
  text-align: center;
  width: 100%;
}

.hotIcon {
  border-radius: 8px;
  min-width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $rgbWhite;
  svg {
    fill: $primaryYellow;
  }
}
// .container {
//   .container {
//     @include container;
//   }
// }
