@import '../../shared/styles/colors';
@import '../../shared/styles/fonts';
@import "../../shared/styles/mixins";
@import "../../shared/styles/mediaMixins";

.container {
    @include container();
    padding: 0 1rem;

    @include on1440 {
        padding: 0;
    }
}

.faq_title {
    font-size: $fontSize2;
    font-weight: 700;
    color: $rgbZodiac;
    margin-bottom: 2rem;

    @include on992 {
        margin-bottom: 4rem;
    }
}