@import '@/shared/styles/colors';
@import '@/shared/styles/mixins';
@import '@/shared/styles/fonts';
@import '@/shared/styles/mediaMixins';

.list {
  margin-top: clamp(54px, 5.2vw, 100px);

  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  padding: 40px 25px;
  min-height: 23.12rem;

  border-radius: 20px;
  border: 1px solid $rgbGray;

  &:hover {
    border-color: transparent;
    outline: 2px solid $primaryOrange;
  }

  @include on992 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    padding: 3.2rem;
    min-height: 17.5rem;
  }
}

.mainWrap {
  @include on992 {
    width: 54.25rem;
  }
}

.titleWrap {
  display: flex;
  flex-direction: column;
  gap: 32px;

  margin-bottom: 10px;
  max-width: 46rem;

  @include on992 {
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    gap: 60px;

    width: 100%;
    margin-bottom: 16px;
  }
}

.hotLabel {
  display: flex;
  align-items: center;
  gap: 12px;

  width: 7.9rem;

  padding: 7px 13px;
  border-radius: 15px;

  background-color: $secondaryTomato;

  @include on992 {
    flex-direction: row-reverse;
    width: 8.6rem;

    margin-left: auto;
  }

  svg {
    fill: $rgbWhite;
  }
}

.labelText {
  color: $rgbWhite;
  font-size: 1rem;
  line-height: 1.2rem;
}

.title {
  font-weight: 600;
  font-size: $fontSize3;
  line-height: 2rem;
  color: $primaryBlack;

  @include on992 {
    font-weight: 700;
    line-height: 2.5rem;
  }
}

.salary {
  margin-bottom: 20px;

  color: $secondaryBlack;
  font-weight: 500;
  font-size: $fontSize4;
  line-height: 1.3;

  @include on992 {
    font-weight: 600;
    margin-bottom: 13px;
    line-height: 1.9;
  }
}

.cardDescription {
  margin-bottom: 20px;
  // height: 5.25rem;

  font-size: clamp(14px, 1.04vw, 20px);
  line-height: 1.3;
  color: $rgbGray;

  display: -webkit-box; // трансформуємо контейнер
  -webkit-line-clamp: 2; // строка на якій буде "..."
  -webkit-box-orient: vertical; // додає "..."
  overflow: hidden; // ховаємо зайве

  @include on992 {
    // height: 4.6rem;

    font-weight: 600;
    margin-bottom: 13px;
    line-height: 1.9;
  }
}

.link {
  display: flex;
  justify-content: center;

  margin-left: auto;
  padding: 19px 0;
  border-radius: 15px;
  width: 100%;
  max-width: 20rem;
  // max-width: clamp(320px, 15.62vw, 300px);

  background-color: $primaryYellow;
  color: $rgbWhite;
  box-shadow: 0px 0px 17px 5px rgba(255, 101, 1, 0.25);

  text-align: center;
  font-weight: 700;
  font-size: clamp(1rem, 1.37vw, 1.25rem);
  line-height: 1.1;

  @include on992 {
    margin-left: 0;
    max-width: 18.75rem;
    line-height: 1.4;
  }
}
