@import "@/shared/styles/mixins";
@import "@/shared/styles/mediaMixins";
@import "@/shared/styles/colors";
@import "@/shared/styles/fonts";

.hero {
	margin-top: clamp(22px, 7.8vw, 114px);
}
.container {
	@include container(20px);
	display: flex;
	flex-direction: column;
	padding: 0px 30px;
	gap: 46px;
	@include on768 {
		gap: 60px;
	}
	@include on992 {
		padding: 0px 10px;
		flex-direction: row-reverse;
		gap: 90px;
	}
	@include on1200 {
		gap: 150px;
	}
}
