@import "@/shared/styles/mixins";
@import "@/shared/styles/mediaMixins";
@import "@/shared/styles/colors";
@import "@/shared/styles/fonts";



.hero {
	margin-top: clamp(22px, 7.8vw, 114px);
}
.container {
	@include container(20px);
	display: flex;
	flex-direction: column;
	padding: 0px 30px;
	gap: clamp(46px, 10.27vw, 150px);
	@include on992 {
		padding: 0px 10px;
		flex-direction: row-reverse;
	}
}


