@import '@/shared/styles/colors';
@import '@/shared/styles/mixins';
@import '@/shared/styles/mediaMixins';

// .customSelect {
//   position: relative;

//   ::placeholder {
//     position: absolute;
//     top: 0;
//     right: 0;
//   }
// }

.dropdown {
  // min-width: 13.5rem;

  // width: 100%;
  // max-width: 15rem;

  position: relative;
}

.dropdownBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 1rem;

  width: 100%;
  background-color: transparent;
  cursor: pointer;

  svg {
    width: 24px;
    height: 24px;

    stroke: $secondaryOrange;
  }
}

.title {
  font-weight: 700;
  font-size: clamp(16px, 1.36vw, 20px);
  line-height: 1.1;
  text-align: start;

  user-select: none;
}

// .menuWrapper {
//   transition: all 0.3s linear;
//   height: 0;
// }
// .menuWrapper_shown {
//   @extend .menuWrapper;
//   height: auto;
// }

.menu {
  position: absolute;
  top: 3.3rem;
  z-index: 1;

  // left: 0;
  display: flex;
  flex-direction: column;
  gap: 2.8rem;

  width: 18.8rem;
  // height: 0px;
  padding: 2.1rem 1.9rem;
  border-radius: 1.9rem;
  border: 1px solid $rgbGray;

  overflow: hidden;
  background-color: $rgbWhite;

  pointer-events: none;
  opacity: 0;
  //   transition: all 0.2s linear;

  @include on992 {
    right: 0;
  }
}

.menu_shown {
  @extend .menu;

  // height: 474px;
  // overflow-y: scroll;
  // height: 100%;
  opacity: 1;

  pointer-events: all;

  border: 1px solid rgb(0, 0, 0);
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 40px;

  cursor: pointer;
  &:hover .categoryName {
    filter: drop-shadow(#2c4075);
    transform: scale(1.1);
  }
}

.categoryName {
  font-weight: 600;
  font-size: 20px;
  line-height: calc(26px / 20px);

  user-select: none;
  pointer-events: none;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  //   padding: 10px;
  width: 40px;
  height: 40px;
  border: 2px solid $primaryBlue;
  border-radius: 10px;

  pointer-events: none;
}

.plug {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: $rgbZodiac;
}
