@import "@/shared/styles/mixins";
@import "@/shared/styles/mediaMixins";
@import "@/shared/styles/colors";
@import "@/shared/styles/fonts";

.spheres {
	margin-top: 100px;
	@include on768 {
		margin-top: 150px;
	}
	@include on992 {
		margin-top: 200px;
	}
	@include on1200 {
		margin-top: 270px;
	}
}
.container {
	@include container(60px);
	padding: 0px 30px;
	@include on768 {
		@include container(20px);
		padding: 0px 10px;
	}
}
.title {
	font-size: $fontSize2;
	color: $rgbZodiac;
	margin-bottom: 50px;
	font-weight: 800;
	@include on768 {
		margin-bottom: 65px;
	}
	@include on992 {
		margin-bottom: 80px;
	}
	@include on1200 {
		margin-bottom: 100px;
	}
}
.spheres_cards {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	gap: 36px;
	@include on992 {
		gap: 45px;
	}
}
