@import "../../shared/styles/colors";
@import "../../shared/styles/mixins";
@import "../../shared/styles/mediaMixins";
@import "../../shared/styles/fonts";

.container {
    @include container(60px, 3rem, 3rem);
    padding: 0 30px;

    @include on768 {
        @include container(60px, 5rem, 5rem);
    }
}

.title {
    margin-bottom: 3.75rem;

    h2 {
        font-size: $fontSize1;
        text-decoration: underline;
        font-weight: 900;
        line-height: 1.3;
    }
}

.thankyou_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include on992 {
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
    }

    position: relative;

    &::after {
        content: "";
        position: absolute;
        bottom: -83%;
        left: 50%;
        transform: translateX(-50%);
        background-color: $primaryCyan;
        border-radius: 50% 50% 0 0;
        width: 200vw;
        height: 100%;
        z-index: -1;
    }

    @include on992 {
        &::after {
            content: "";
            position: absolute;
            bottom: -40%;
            left: 50%;
            transform: translateX(-50%);
            background-color: $primaryCyan;
            border-radius: 50% 50% 0 0;
            width: 120vw;
            height: 100%;
            z-index: -1;
        }
    }
}

.info_wrapper {
    width: 100%;
    height: 100%;

    @include on992 {
        width: 50%;
    }
}

.sub_text_flex {
    height: 70%;
    flex: 1 1 auto;
}

.sub_text {
    width: 100%;
    display: flex;
    align-items: flex-starts;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    gap: 5rem 0;

    @include on992 {
        flex-direction: row;
        gap: 0;
    }

    &_first,
    &_second {
        width: 100%;

        @include on992 {
            width: calc(100% / 2 - 2rem);
        }

        h2 {
            font-size: $fontSize4;
            font-weight: 700;
            line-height: 1.3;
        }

        p {
            margin: 1.75rem 0;
            font-size: $fontSize6;
        }

        a {
            display: block;
            width: 100%;
            text-align: center;
            padding: .75rem 1rem;
            border-radius: 1rem;
            font-weight: 700;
            font-size: $fontSize54;
            color: $rgbBlack;
            cursor: pointer;
        }
    }

    &_first {
        a {
            border: 2px solid $rgbBlack;

            @include on480 {
                width: 300px;
            }

            @include on992 {
                width: 100%;
            }

            transition: .2s ease-in-out;

            &:hover {
                box-shadow: $shadow;
                color: $rgbWhite;
                background-color: $primaryOrange;
                border-color: $primaryOrange;
            }
        }
    }

    &_second {
        a {
            border: 2px solid $primaryOrange;
            width: 100%;
            background-color: $primaryOrange;
            color: $rgbWhite;
            box-shadow: $shadow;

            @include on480 {
                width: 300px;
            }

            @include on992 {
                width: 100%;
            }

            transition: .2s ease-in-out;

            &:hover {
                background-color: $primaryYellow;
                border-color: transparent;
            }
        }
    }
}

.image_wrapper {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.cat {
    max-width: 100%;
    height: auto;
    margin-top: 5rem;
    min-width: 200px;

    @include on992 {
        margin: 0;
    }
}