/* -----------------WRAPPER-------------------  */
.wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-width: 100%;
    width: 100%;
    min-height: 100vh;
    height: 100%;
}