@import "@/shared/styles/mixins";
@import "@/shared/styles/mediaMixins";
@import "@/shared/styles/colors";
@import "@/shared/styles/fonts";

.design {
	position: relative;
	align-self: center;
	display: flex;
	align-items: center;
	justify-content: center;
	@include on992 {
		flex: 1 1 50%;
		padding: 0px 5rem 0px 0px;
	}
	@include on1920 {
		padding-right: 2rem;
	}
}
.circle {
	position: relative;
	z-index: 7;
	border: 1px solid $rgbZodiac;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	padding: 1.5625rem;
	width: 70vw;
	height: 70vw;
	@include on480 {
		width: clamp(21.875rem, 38.3vw, 35rem);
		height: clamp(21.875rem, 38.3vw, 35rem);
	}
	opacity: 0;
	transform: scale(0);
	@include on992 {
		padding: 45px;
	}
}

.icon {
	position: absolute;
	width: clamp(1.5625rem, 3.08vw, 2.8125rem);
	height: clamp(1.5625rem, 3.08vw, 2.8125rem);
	background-color: $rgbWhite;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	img {
		width: 100%;
		height: 100%;
		position: relative;
		-o-object-fit: contain;
		object-fit: contain;
		-o-object-position: center center;
		object-position: center center;
	}
}
#like {
	left: 14%;
	top: 7%;
}
#smile {
	right: 15%;
	top: 0%;
	width: clamp(25px, 2.53vw, 37px);
	height: auto;
}
#globe {
	right: 10%;
	bottom: 10%;
	width: clamp(1.875rem, 3.84vw, 3.5rem);
	height: clamp(1.875rem, 3.84vw, 3.5rem);
	background-color: #ffa265;
	box-shadow: $shadow;
	img {
		width: 50%;
		height: 50%;
	}
}

.bg_circle {
	position: absolute;
	border-radius: 50%;
	overflow: hidden;
	z-index: 3;
	transform: scale(0);
	opacity: 0;
	width: 60vw;
	height: 60vw;	
	@include on480 {
		width: clamp(18.75rem, 32.9vw, 30rem);
		height: clamp(18.75rem, 32.9vw, 30rem);
	}
	img {
		width: 100%;
		height: 100%;
		-o-object-fit: cover;
		object-fit: cover;
		-o-object-position: center center;
		object-position: center center;
	}
}
.cat {
	position: absolute;
	z-index: 5;
	overflow: hidden;
	bottom: 0;
	left: 50%;
	width: 15.625rem;
	height: 15.625rem;
	transform: translate(100%, 0%);
	width: 50vw;
	height: 50vw;
	@include on480 {
		width: clamp(15.625rem, 27.4vw, 25rem);
		height: clamp(15.625rem, 27.4vw, 25rem);
	}
	img {
		width: 100%;
		height: 100%;
		-o-object-fit: cover;
		object-fit: cover;
		-o-object-position: center center;
		object-position: center center;
	}
}
