@import "@/shared/styles/mixins";
@import "@/shared/styles/mediaMixins";
@import "@/shared/styles/colors";
@import "@/shared/styles/fonts";

$rotate: rotate_anim 20s linear .8s infinite;
$rotateReverse: rotate_anim 20s linear .8s infinite reverse;

.design {
	position: relative;
	align-self: center;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0px 30px 0px 0px;
	@include on992 {
		flex: 1 1 50%;
	}
}
.round {
	position: relative;
	z-index: 7;
	outline: 1px solid $rgbZodiac;
	border-radius: 50%;
	padding: 25px;
	width: clamp(350px, 43.15vw, 630px);
	height: clamp(350px, 43.15vw, 630px);
	opacity: 0;
	transform: scale(0);
	@include on992 {
		padding: 45px;
	}
	animation: round_appear_anim 0.8s ease-in-out forwards, $rotate;
}
@keyframes round_appear_anim {
	0% {
		opacity: 0;
		transform: scale(0.3);
	}
	30% {
		opacity: 1;
	}
	70% {
		transform: scale(1.1);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

.icon {
	position: absolute;
	width: clamp(25px, 3.08vw, 45px);
	height: clamp(25px, 3.08vw, 45px);
	background-color: $rgbWhite;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	animation: $rotateReverse;
	img {
		width: 100%;
		height: 100%;
		position: relative;
		object-fit: contain;
		object-position: center center;
	}
}
#like {
	right: 14%;
	top: 7%;
}
#smile {
	right: -7%;
	top: 30%;
	width: clamp(25px, 2.53vw, 37px);
	height: clamp(25px, 2.53vw, 37px);
}
.globe {
	position: absolute;
	right: 10%;
	bottom: 10%;
	width: clamp(30px, 3.84vw, 56px);
	height: clamp(30px, 3.84vw, 56px);
	background-color: #ffa265;
	box-shadow: $shadow;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	animation: $rotateReverse;
	img {
		width: 50%;
		height: 50%;
	}
}

@keyframes rotate_anim {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.background {
	position: absolute;
	width: clamp(300px, 37vw, 540px);
	height: clamp(300px, 37vw, 540px);
	border-radius: 50%;
	overflow: hidden;
	z-index: 3;
	transform: scale(0);
	opacity: 0;
	animation: bg_appear_anim 0.8s ease-in-out 0.2s 1 forwards;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center center;
	}
}
@keyframes bg_appear_anim {
	0% {
		opacity: 0;
		transform: scale(0.3);
	}
	30% {
		opacity: 1;
	}
	70% {
		transform: scale(1.1);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}
.cat {
	position: absolute;
	z-index: 5;
	overflow: hidden;
	bottom: 0;
	left: 50%;
	width: 250px;
	height: 250px;
	width: clamp(250px, 31.5vw, 460px);
	height: clamp(250px, 31.5vw, 460px);
	transform: translate(100%, 0%);
	animation: cat_appear_anim 1.2s ease-in-out 0.6s 1 forwards;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center center;
	}
}
@keyframes cat_appear_anim {
	0% {
		transform: translate(60%, 0%);
	}
	40% {
		transform: translate(-65%, 0%);
	}
	65% {
		transform: translate(-40%, 0%);
	}
	100% {
		transform: translate(-45%, 0%);
	}
}