@import '@/shared/styles/variables';
@import '@/shared/styles/mediaMixins';
.btn {
    // display: none;
	position: fixed;
    z-index: 9;
	bottom: 2rem; 
    right: 2rem; 
	background-color: transparent;   
    transform: translate(0%, 10rem);    
    transition: all .3s ease;
    @include on1200{
        bottom: 4rem;
        right: 3rem; 
    }
    &.show{
        transform: translate(0%, 0%);        
    }
}
@media (min-width: 1460px) {
    .btn{
        bottom: 6rem;
        right: calc((100vw - $container)/2 + 3rem);
    }
}
@media (min-width: 1660px) {
    .btn{
        transform: translate(50%, 10rem);
        right: calc((100vw - $container)/4);
        &.show{
            transform: translate(50%, 0%);        
        }
    }
}