@import '@/shared/styles/mixins';
@import '@/shared/styles/variables';
@import '@/shared/styles/colors';
@import '@/shared/styles/mediaMixins';

.menuWrap {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100vw;
  height: 100vh;
  background-color: $primaryMint;
  // transform: translateX(100%);
  transition: 0.3s linear;

  @include on992 {
    display: none;
  }
}

.menuWrap_shown {
  @extend .menuWrap;
  // transform: translateX(0);
  right: 0;
}

.menuTitle {
  padding: 1.375rem;

  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.44rem;
  text-align: center;
}

.navigation {
  position: relative;

  height: calc(100% - 4.19rem);

  background-color: $rgbWhite;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  box-shadow: 0px 0px 17px rgba(255, 101, 1, 0.25);

  overflow: hidden;
}

.navTab {
  position: absolute;
  top: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  width: 100vw;
  height: 100%;
  padding: 60px 30px;

  overflow-y: auto;
  transition: 0.25s linear;

  li {
    width: 100%;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding: 2rem;
    border-radius: 1rem;

    border: 1px solid $rgbGray;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
    color: $rgbGray;
    &:hover,
    &:focus {
      color: inherit;
    }
  }

  button {
    @extend a;
    background-color: transparent;
  }

  .backBtn {
    padding: 0;
    justify-content: start;
    border-color: transparent;
  }
}

.firstTab {
  @extend .navTab;
  left: -100%;
}
.firstTab_shown {
  @extend .firstTab;
  left: 0;
}

.secondTab {
  @extend .navTab;
  left: 100%;
}
.secondTab_shown {
  @extend .secondTab;
  left: 0;
}

.thirdTab {
  @extend .navTab;
  left: -100%;
}
.thirdTab_shown {
  @extend .thirdTab;
  left: 0;
}
