@import '@/shared/styles/colors';
@import '@/shared/styles/fonts';
@import '@/shared/styles/mixins';
@import '@/shared/styles/mediaMixins';
// .category {
//   margin-top: 5rem;
// }
.container {
  @include container(60px);
  padding: 0px 1rem;
  @include on768 {
    @include container(20px);
    padding: 0px 1rem;
  }
}
.content {
  border: 1px solid $rgbGray;
  border-radius: 1.25rem;
  padding: 1.5rem;
  margin-bottom: 5rem;
  @include on1200 {
    border: 2px solid $rgbGray;
    padding: 3.125rem 3.75rem;
  }
}

.formContent {
  @extend .content;
  border-color: $primaryOrange;
}

.title {
  font-weight: 900;
  font-size: $fontSize1;
  margin-top: 2rem;
}

.vacancies_list {
  display: flex;
  flex-direction: column;
  margin: 3rem 0rem;
  gap: 1rem;
  @include on992 {
    margin: 3rem 0rem;
    gap: 2rem;
  }
}
.form_wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  gap: 0 7rem;
  @include on992 {
    flex-direction: row;
  }
}
.main_cat {
  display: none;
  @include on1200 {
    display: block;
    height: 100%;
  }
}
