// Primary colors
$primaryOrange: #ff6501;
$primaryYellow: #fbbf13;
$primaryBlue: #00dcff;
$primaryCyan: #d8faff;
$primaryBlack: #333333;


// Secondary colors
$secondaryBlue: #2c4075;
$secondaryTomato: #ff5757;
$secondaryAzure: #eefdff;
$secondaryBlack: #222222;


// RGB - colors
$rgbGray: #616161;
$rgbWhite: #ffffff;
$rgbBlack: #000000;
$rgbZodiac: #3F455B;


// Shadow
$shadow: 0 0 1.25rem 0 #ff6501;