// Primary colors
$primaryOrange: #ff6501;
$primaryYellow: #fbbf13;
$primaryBlue: #00dcff;
$primaryCyan: #d8faff;
$primaryTomato: #d43131;

// Secondary colors
$secondaryOrange: #f24e1e;
$secondaryBlue: #2c4075;
$secondaryTomato: #ff5757;
$secondaryAzure: #eefdff;

// RGB - colors
$rgbGray: #616161;
$rgbWhite: #ffffff;
$rgbBlack: #000000;
$rgbZodiac: #3f455b;

// Shadow
$shadow: 0 0 1.25rem 0 #ff6501;
