$fontSize1: clamp(32px, 4.38vw, 64px);
$fontSize2: clamp(28px, 3.29vw, 48px);
$fontSize3: clamp(24px, 2.47vw, 36px);
$fontSize4: clamp(18px, 2.19vw, 32px);
$fontSize54: clamp(16px, 1.37vw, 20px);
$fontSize5: clamp(14px, 1.37vw, 20px);
$fontSize6: clamp(14px, 1.23vw, 18px);
$fontSize7: clamp(8px, 0.82vw, 12px);
$fontSize8: clamp(16px, 1.37vw, 20px);
// $fontSize9: clamp(20px, 1.64vw, 24px);
$fontSize9: clamp(14px, 1.64vw, 24px);
