*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    border: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,
:active {
    outline: 0;
    outline-offset: 0;
}
a:focus,
a:active {
    outline: 0;
    outline-offset: 0;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}
