@import '@/shared/styles/colors';
@import '@/shared/styles/mixins';
@import '@/shared/styles/mediaMixins';

.section {
  margin: 100px 0;
  // margin: 6.25rem 0;
}

.container {
  @include container;
  padding: 0 30px;
  // padding: 0 1.875rem;

  @include on992 {
    @include container(20px);
    // @include container(1.25rem);

    padding: 0 10px;
    // padding: 0 0.625rem;
  }
}
