@import "../../shared/styles/colors";
@import "../../shared/styles/mixins";


.container {
    @include container(8px);
}

.swiper_slide {
    padding: 3.125rem 1.75rem;
    border: 1px solid $rgbGray;
    border-radius: 1.875rem;
}

.swiper_wrapper {
    width: 100%;
    display: flex !important;
    flex-direction: column;
}

.slider_arrows {
    display: inline-flex;
    align-self: flex-end;
    gap: 0 2.25rem;
}

.employee_img {
    object-fit: cover;
    border-radius: 50%;
}

.slide_employee {
    display: flex;
    align-items: center;
    gap: 0 1.625rem;
}