@import '@/shared/styles/mixins';
.header{

}
.container{
    @include container(20px);
    padding: 48px 10px;
    display: flex;
    justify-content: space-between;
}
.logo{
    display: block;
    max-width: 277px;
    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
    }
}
.controls{
    display: flex;
    gap: 70px;
}
.nav{
    display: flex;
    gap: 50px;
    padding: 0px 10px 0px 10px;
}
.nav_item{
    display: block;
    color: inherit;
    font-weight: 500;
    transition: all .2s ease;
    &.active{
        font-weight: 700;
    }
    &:hover{
        transform: scale(1.1);
        color: rgba(255, 101, 1, 1);
    }
}
