@import '@/shared/styles/mixins';
@import '@/shared/styles/variables';
@import '@/shared/styles/colors';
@import '@/shared/styles/mediaMixins';

.header {
  position: fixed;
  z-index: 10;

  width: 100%;
  padding: 1.25rem 1.875rem;

  backdrop-filter: blur(1rem);
  background: $headerBackground;
  box-shadow: 0 1.25rem 1.25rem 0px $headerBackground;

  @include on992 {
    height: $headerHeight2;
  }
  @include on992 {
    padding: 2.5rem 0.625rem;
  }
}

.headerWithMenu {
  @extend .header;
  background: $rgbWhite;
  box-shadow: none;
}
.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto;
  width: 100%;
  max-width: 1460px;
}

.logo {
  display: flex;
  align-items: center;
  min-width: max-content;
  user-select: none;

  @include on992 {
    min-width: 22rem;
  }
}

.logoImg {
  width: 1.5rem;
  height: 1.5rem;

  margin-right: 0.25rem;

  @include on992 {
    width: 2.2rem;
    height: 2.2rem;

    margin-right: 0.625rem;
  }

  @include on1440 {
    width: 2.8rem;
    height: 2.8rem;
  }
}

.logoText {
  display: flex;
  flex-direction: column;
  color: $primaryBlack;
}

.logoName {
  font-weight: 700;
  font-size: clamp(0.5rem, 3.5vw, 0.9rem);
  // font-size: 0.875rem;
  line-height: 1.125rem;
  color: $primaryBlack;
  @include on992 {
    font-size: clamp(1.375rem, 2vw, 2.0625rem);
    line-height: 1em;
  }
}
.logoDescr {
  font-size: clamp(0.4rem, 2.5vw, 0.56rem);
  // font-size: 0.5625rem;
  line-height: 0.6875rem;
  color: $secondaryBlack;
  @include on992 {
    line-height: 1em;
    font-size: clamp(1rem, 1.5vw, 1.25rem);
  }
}

.controls {
  display: flex;
  gap: 1.5rem;
  display: flex;
  justify-content: space-between;

  @include on992 {
    max-width: 45rem;
    width: 100%;
  }
}
.nav {
  display: none;

  @include on992 {
    display: flex;
    gap: 3.125rem;
  }
  display: none;
  @include on992 {
    display: flex;
    gap: 2rem;
  }
}

.nav_item {
  display: block;
  color: inherit;
  font-weight: 500;
  font-size: clamp(1rem, 1.37vw, 1.25rem);
  min-width: max-content;
  user-select: none;
  transition: all 0.2s ease;

  &.active {
    font-weight: 700;
  }
  &:hover {
    transform: scale(1.1);
    color: $primaryOrange;
  }
}

.burgerBtn {
  position: absolute;
  right: 0;
  transform: translate(0.5rem, -0.2rem);
  z-index: 1;

  display: flex;
  flex-direction: column;
  gap: 0.375rem;

  padding: 0.4rem 0.5rem;
  width: 2.5rem;
  height: 2rem;

  background-color: transparent;
  cursor: pointer;

  @include on992 {
    display: none;
  }

  span {
    display: block;

    height: 0.125rem;
    width: 100%;

    background-color: $rgbBlack;
    border-radius: 1rem;
    opacity: 1;

    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
}

.burgerBtn_clicked {
  @extend .burgerBtn;

  span {
    &:nth-child(1) {
      -webkit-transform: rotate(135deg) translate(0.4rem, -0.4rem);
      -moz-transform: rotate(135deg) translate(0.4rem, -0.4rem);
      -o-transform: rotate(135deg) translate(0.4rem, -0.4rem);
      transform: rotate(135deg) translate(0.4rem, -0.4rem);
    }

    &:nth-child(2) {
      opacity: 0;
      -webkit-transform: translateX(-200%);
      -moz-transform: translateX(-200%);
      -o-transform: translateX(-200%);
      transform: translateX(-200%);
    }

    &:nth-child(3) {
      -webkit-transform: rotate(-135deg) translate(0.27rem, 0.32rem);
      -moz-transform: rotate(-135deg) translate(0.27rem, 0.32rem);
      -o-transform: rotate(-135deg) translate(0.27rem, 0.32rem);
      transform: rotate(-135deg) translate(0.27rem, 0.32rem);
    }
  }
}
